/* body {
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.board {
    width: 500px;
    height: 500px;
    display: grid;
}

/* 
h3 {
    display: inline-block;
}

.container {

    background-color:aqua;


} */